@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.navbar{
    background-color: rgb(219 ,226,226)!important;
}
.navbar-brand{
    color:black !important;
    font-size: x-large !important;
}
.nav-link{
    color:black !important;
}
.nav a{
    font-size: 20rem;
}
.val{
    background-color: rgb(219 ,226,226)!important;
}